{{ partial "header" . }}
{{ partial "nav" . }}

<div class="center">
	<article>
		<h1>Recent Articles</h1>

		{{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
		<ul class="toc">
			{{ range sort .Paginator.Pages }}
			<li>
				<a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}
				{{ if (not .Date.IsZero) }}<span class="toc-date">{{.Date.Format "Jan 2006"}}</span>{{ end }}
				<div class="toc-summary">{{ .Summary | plainify | safeHTML }}</div>
			</li>
			{{ end }}
		</ul>

		<h2>About Me</h2>
		<p>I'm Egon, a software engineer from Tartu, Estonia. I'm highly interested in understanding foundational principle of software development and been investigating it for 10 years informally. I strongly believe that there are many aspects missing in software development practice today.</p>
	</article>
</div>

{{ partial "footer" . }}