{{ $baseurl := .Site.BaseUrl }}
{{ template "chrome/head.html" . }}
{{ template "chrome/header.html" . }}

<div class="page-title">
	<h1>{{ lower .Title }}</h1>
</div>

<div class="listing">
	{{ range .Data.Pages }}
	<article>
		<h1><a href="{{.RelPermalink}}">{{.Title}}</a></h1>
		{{partial "date.html" .Date }}
		<div class="post-tags">
			{{ range .Params.tags }}<a tabindex="-1" href="{{$baseurl}}/tags/{{.|urlize}}">{{.}}</a>{{ end }}
		</div>
		<div class="clear"></div>
		<div class="summary">{{ .Summary }}</div>
	</article>	
	{{ end }}
</div>

{{ template "chrome/foot.html" . }}