{{ $baseurl := .Site.BaseUrl }}
{{ template "chrome/head.html" . }}
{{ template "chrome/header.html" . }}

<div class="page-title">
	<h1>{{.Title}}</h1>
	{{with .Params.subtitle}}<h2>{{.}}</h2>{{end}}
</div>

<div class="post">
	{{ if (not .Date.IsZero) }}<span class="post-date">{{.Date.Format "02 Jan 2006"}}</span>{{end}}
	<span class="post-tags">
		{{ range .Params.tags }}<a tabindex="-1" href="{{$baseurl}}/tags/{{.|urlize}}">{{.}}</a>{{ end }}
	</span>
	<div class="post-content">
		{{.Content}}
	</div>
</div>

<div id="pagination">
	{{if .Prev}}<a class="prev" href="{{.Prev.Permalink}}">Prev</a>{{end}}
	{{if .Next}}<a class="next" href="{{.Next.Permalink}}">Next</a>{{end}}
</div>

{{ template "chrome/foot.html" . }}