html {
	font-family: serif;
	font-weight: 100;
	font-size: 1.2em;
	line-height: 1.5em;

	color: #333;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	tab-size: 4;
}
header, h1, h2, h3, h4, h5, h6, .header {
	font-family: sans-serif;
}
body {
	margin: 0;
	padding: 0;
}

.center {
	max-width: 44rem;
	margin: 0 auto;
	padding: 0.5rem;
}
.clear {
	clear: both;
}

header.main {
	color: #555;
	padding: 0.2em 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 2em;
}

footer.main {
	color: #555;
	padding: 0.2em 0;
	margin-top: 2em;
	border-top: 1px solid #eee;
}

header.main h1 {
	float: left;
	margin: 0;
	line-height: 0.8rem;
	font-weight: 100;
}

h1.index-title {
	font-weight: 100;
}

header.main a {
	display: block;
	color: inherit;
	padding: 0.8rem;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

header.main nav {
	float: right;
}

header.main nav a {
	display: inline-block;	
	margin-right: 0.5em;
}

header.main a:hover {
	background: rgba(0,0,0,0.1);
}

article {
	padding: 1rem;
}

article h1 {
	font-size: 1.6em;
	font-weight: 100;
	letter-spacing: 0.02em;
}

article h2 {
	margin-top: 2em;
	font-size: 1.4 em;
	font-weight: 100;
}

article .date {
	color: #666;
	font-style: italic;
}

article .tags {
	color: #666;
	font-style: italic;
}

article p {
	font-weight: 100;
}

.reviewers {
	margin: 1.5em 0;
	font-style: italic;
}

.toc { 
	list-style: none;
	margin: 0;
	padding: 0;
}

.toc li {
	margin: 0;
	margin-bottom: 0.5em;
}

.toc-date {
	font-size: 0.7em;
	font-weight: 800;
	color: #999
}

.toc li .toc-summary {
	margin-left: 1em;
}

.highlight {
	font-size: 0.9em;
	line-height: 1.2em;
	overflow-x: auto;

	border: 1px solid;
	border-color: #ddd #ddd #ccc;
	border-radius: 3px;

	padding: 0.2em;
	margin: 1em 0;
}
.codetitle {
	font-size: 0.9em;
	margin-top: -1em;
	text-align: center;
}

.chroma {
	min-width: 2.3em;
}

p code {
	background-color: #eee;
	border-radius: 3px;
	padding: 3px 0.5em;
}

blockquote {
	border-left: 0.4em solid #eee;
	margin-left: 0;
	margin-block-start: 0;
	margin-block-end: 0;

	padding-left: 2em;
	padding-right: 2em;
}

figure {
	width: 100%;
	height: 100%;
	text-align: center;
	/*display: flex;*/
	margin-left: 0;
	margin-right: 0;
}

figure > img, figure > video {
	margin: auto;
}