{{ partial "header" . }}
{{ partial "nav" . }}

<div class="center">
	<article>
		<h1>{{ .Title }}</h1>

		{{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
		<ul class="toc">
			{{ range sort .Paginator.Pages }}
			<li>
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}
				<span class="toc-extra">{{ if (not .Date.IsZero) }}<span class="date">{{.Date.Format "Jan 2006"}}</span>{{ end }}</span>
				<div class="toc-summary">{{ .Summary | plainify | safeHTML }}</div>
			</li>
			{{ end }}
		</ul>
		{{ partial "pagination" . }}
	</article>
</div>

{{ partial "footer" . }}