{{ partial "header" . }}
{{ partial "nav" . }}

<div class="center">
	<article>
		<h1 class="title">{{ .Title }}</h1>
		{{with .Params.subtitle}}<h2>{{.}}</h2>{{end}}
		<div class="content">
			{{.Content}}
		</div>
		<footer>
			{{ if .Params.reviewers }}
			<div class="reviewers">Special thanks to reviewers {{ range .Params.reviewers}}{{.}}, {{end}}</div>
			{{ end }}
			
			{{ if .Params.tags }}<div class="tags">{{ partial "tags" .Params.tags }}</div>{{ end }}
			{{ if (not .Date.IsZero) }}<div class="date">{{.Date.Format "Jan 2006"}}</div>{{ end }}
		</footer>
	</article>
</div>

{{ partial "footer" . }}