{{ partial "header" . }}
{{ partial "nav" . }}

<div class="center">
	<article>
		{{ partial "share" . }}
		<h1 class="title">{{with .Params.OverrideTitle}}{{.}}{{else}}{{ .Title }}{{end}}{{ if .Draft }} ::Draft{{ end }}</h1>
		{{with .Params.subtitle}}<h2>{{.}}</h2>{{end}}

		{{ with .Params.notes }}
		<header>
			<div class="reviewers">{{ . | markdownify }}</div>
		</header>
		{{ end }}

		<div class="content">{{ partial "anchor" .Content }}</div>

		<footer>
			{{ if .Params.tags }}<div class="tags">{{ partial "tags" .Params.tags }}</div>{{ end }}
			{{ if (not .Date.IsZero) }}<div class="date">{{.Date.Format "Jan 2006"}}</div>{{ end }}

			{{ with .Params.reviewers }}
			<div class="reviewers">Thanks to {{ delimit . ", " ", and " }} for reviewing and suggesting improvements.</div>
			{{ end }}


		</footer>
	</article>
</div>

{{ partial "footer" . }}