<footer class="main">
    <div class="center">
        <div class="find-me">find me on</div>
        <div class="social">
            {{- $ := . -}}
            {{- $social := .Site.Params.Social -}}
            {{- range $platform := $social.config.platforms -}}
                {{- with $username := ( index $social $platform ) -}}
                <a title="{{$platform}}" href="{{index $.Site.Data.social.base $platform}}{{$username}}">
                    <span class="icon"><i class>{{- partial "svg/icons" $platform -}}</i></span>
                </a>
                {{- end -}}
            {{- end -}}
        </div>
    </div>
    {{with .Site.Copyright -}}
    <div class="center">
        <copyright>&copy; {{ . | safeHTML}}</copyright>
    </div>
    {{- end}}
</footer>
</body>
</html>