<footer class="main">
    <div class="center">
        <ul>
            <a href="/tags">All Tags</a><br /><br />
            <a href="https://gallery.egonelbre.com">gallery.egonelbre.com</a><br />
            <a href="https://github.com/egonelbre">github.com</a><br />
            <a href="https://twitter.com/egonelbre">twitter.com/egonelbre</a><br />
            <a href="https://www.linkedin.com/in/egonelbre">linkedin.com/in/egonelbre</a><br />
            <a href="https://www.instagram.com/egonelbre/">instagram.com/egonelbre</a><br />
        </ul>
    </div>
</footer>
{{ partial "analytics" . }}
</body>
</html>