<!doctype html>
<html {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
	<meta charset="utf-8">

	<title>{{ .Title }} {{ if not .IsHome }}| {{ .Site.Title }}{{end}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ if .Site.Params.rss }}
	<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}

	{{ partial "twitter-card" . }}

	<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
	{{- range .Site.Params.Assets.customCSS -}}
	<link rel='stylesheet' href='{{ . | absURL }}'>
	{{- end -}}

	<link rel="shortcut icon" href="/favicon.png">
	<link rel="canonical" href="{{ .Permalink }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
</head>
<body>