<header class="main">
    <div class="center">
        <h1><a href="/" class="{{ if eq .URL "/" }}active{{end}}">Egon Elbre</a></h1>
        <nav>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Identifier )  }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </nav>
        <div class="clear" />
    </div>
</header>
