<header class="main">
    <div class="center">
        <h1><a href="/">Egon Elbre</a></h1>
        <nav>
            <a href="/article">Articles</a>
            <a href="/blog">Blog</a>
            <a href="/project">Projects</a>
            <a href="/code">Code</a>
            <a href="{{ .Site.BaseURL }}index.xml" style="color:#777;float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
        </nav>

        {{ range $i, $e:= $.Site.Params.navigation }}&nbsp;&nbsp;{{ if eq $i 0}}{{else}}{{end}}{{ with $.Site.GetPage "page" . }}<a href="{{ lower .Permalink }}" style="color:#777;">{{ title .Title }}</a>{{ end }}{{ end }}

        <div class="clear" />
    </div>
</header>
